* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* box-sizing: border-box; */ }

body {
  font-family: 'Roboto', sans-serif !important;
  color: #222; }
  body .sidecart {
    width: 320px;
    min-width: 320px;
    height: 100vh;
    position: fixed;
    top: 0px;
    overflow: auto !important;
    right: -320px;
    z-index: 9000;
    transition: 0.2s ease; }
  body .open-cart {
    right: 0px !important; }
  body .open-cart:before {
    content: '';
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
    background-color: black;
    opacity: 0.5;
    z-index: -1; }
  body .product-quantity {
    position: relative; }
  body .product-quantity:after {
    content: 'x de';
    white-space: nowrap;
    position: absolute;
    z-index: 10;
    margin-left: 2px; }
  body .sidecart-price > div {
    margin: auto;
    width: 100%;
    white-space: nowrap; }
  body .remover {
    cursor: pointer; }
  body .swal2-container {
    z-index: 10000; }
  body .imgCarro {
    cursor: pointer; }

/* Clase para extend de h1,h2 etc */
.headings, #sliderHome h2 {
  color: #222; }

/* Grid General */
.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "header" "slider" "coleccionesPrincipales" "artistasNacionales" "masVendidos" "opinionesClientes" "servicios" "footer"; }

.header {
  grid-area: header; }

.slider {
  grid-area: slider; }

.coleccionesPrincipales {
  grid-area: coleccionesPrincipales;
  text-align: center; }

.artistasNacionales {
  grid-area: artistasNacionales; }

.masVendidos {
  grid-area: masVendidos;
  text-align: center; }

.opinionesClientes {
  grid-area: opinionesClientes; }

.servicios {
  grid-area: servicios; }

.footer {
  grid-area: footer; }

/* Grid Tienda */
.wrapperTienda {
  display: grid;
  grid-template-columns: 0.35fr 1.65fr;
  grid-template-rows: 0.1fr 2.8fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas: "headerTienda headerTienda" "filtros tiendaContenido" "footerTienda footerTienda"; }

.headerTienda {
  grid-area: headerTienda; }

.filtros {
  grid-area: filtros;
  text-align: center;
  padding: 25px; }

.tiendaContenido {
  grid-area: tiendaContenido;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.footerTienda {
  grid-area: footerTienda; }

header {
  padding: 20px;
  /* position: fixed;
    width: 1300px; */
  background-color: #fff;
  z-index: 2;
  top: 0; }
  header nav ul {
    float: right;
    padding: 33px; }
    header nav ul li {
      display: inline-block;
      padding: 10px;
      border: solid 1px;
      margin: 0 10px;
      transition: 0.3s; }
      header nav ul li:hover {
        background-color: #222; }
      header nav ul li:hover > a {
        color: #fff; }
      header nav ul li a {
        color: #222;
        text-decoration: none; }
  header .navbar-toggler {
    background-image: url("../images/navIcon.png"); }
  header .navbar-toggler-icon {
    background-image: url("../images/navIcon.png"); }
  header input {
    border: none; }
  header .fa-cart-shopping {
    padding: 0 25px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s; }
    header .fa-cart-shopping:hover {
      color: #BEA684; }

section {
  margin-top: 60px; }

h4 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase; }

main {
  margin-top: 150px; }

.flexH {
  display: flex;
  justify-content: space-between; }

.btn-outline-success {
  border-radius: 0px !important;
  border-color: #222 !important;
  color: #222 !important; }

.btn-outline-success:hover {
  background-color: #222 !important;
  border-color: #fff !important;
  color: #fff !important; }

.form-control {
  border-radius: 0px !important; }

#sliderHome {
  margin-top: 0px; }
  #sliderHome h2 {
    background-color: rgba(223, 223, 223, 0.7);
    padding: 15px 15px 0px 15px;
    margin-bottom: 0px; }
  #sliderHome p {
    color: #222;
    background-color: rgba(223, 223, 223, 0.7);
    padding: 15px; }

#coleccionesPrincipales div div {
  display: inline-block;
  height: 350px;
  width: 33%;
  padding: 15px 30px;
  margin: 10px; }
  #coleccionesPrincipales div div a {
    display: block;
    width: 90px;
    padding: 5px;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: -100px;
    font-size: 18px;
    background-color: #BEA684;
    border: #fff solid 1px;
    text-decoration: none; }
    #coleccionesPrincipales div div a:nth-of-type(1) {
      background: linear-gradient(90deg, #222 0%, #222 50%, #BEA684 50%, #BEA684 100%);
      background-repeat: no-repeat;
      background-size: 200% 100%;
      background-position: right bottom;
      transition: background-position 0.25s ease-out; }
      #coleccionesPrincipales div div a:nth-of-type(1):hover {
        background-position: left bottom; }

#coleccionesPrincipales p {
  font-size: 40px;
  padding-top: 100px;
  font-weight: 600;
  text-align: left; }

#coleccionesPrincipales #catPpal1 {
  background-image: url("../images/absCat.png");
  background-repeat: no-repeat;
  background-size: cover; }

#coleccionesPrincipales #catPpal2 {
  background-image: url("../images/botanicoCat.png");
  background-repeat: no-repeat;
  background-size: cover; }

#coleccionesPrincipales #catPpal3 {
  background-image: url("../images/infCat.png");
  background-repeat: no-repeat;
  background-size: cover; }

#artistasNacionales {
  height: 380px;
  background-image: url("../images/artistasNacionales2.png");
  padding: 50px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right; }
  #artistasNacionales h3 {
    margin-top: 30px;
    font-size: 42px; }
  #artistasNacionales p {
    margin-top: 20px;
    font-style: italic; }
  #artistasNacionales div {
    margin-top: 80px;
    width: 150px;
    text-decoration: none;
    font-size: 18px;
    background-color: #BEA684;
    border: #fff solid 1px;
    text-align: center;
    color: #fff;
    padding: 5px; }
    #artistasNacionales div:nth-of-type(1) {
      background: linear-gradient(90deg, #222 0%, #222 50%, #BEA684 50%, #BEA684 100%);
      background-repeat: no-repeat;
      background-size: 200% 100%;
      background-position: right bottom;
      transition: background-position 0.25s ease-out; }
      #artistasNacionales div:nth-of-type(1):hover {
        background-position: left bottom; }
    #artistasNacionales div a {
      color: #fff; }
      #artistasNacionales div a:hover {
        color: #fff;
        animation: heartBeat;
        animation-duration: 2s; }

#masVendidos img {
  width: 100%;
  height: auto; }

#masVendidos .imgHoverIcon {
  position: relative;
  width: 100%;
  max-width: 400px; }
  #masVendidos .imgHoverIcon:hover .overlay {
    opacity: 1; }
  #masVendidos .imgHoverIcon .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #BEA684; }
  #masVendidos .imgHoverIcon .iconImg {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  #masVendidos .imgHoverIcon .fa-arrow-up-right-from-square:hover {
    color: #eee; }

#masVendidos div {
  color: #222;
  text-align: center;
  justify-content: center; }

#masVendidos .prodTit {
  color: #222;
  font-weight: 500;
  display: block;
  margin-bottom: 35px;
  font-size: 21px; }

#masVendidos .prodPrice {
  padding: 15px 30px;
  color: #BEA684;
  font-weight: 800;
  border-top: 1px solid #222; }

#opinionesClientes {
  text-align: center; }
  #opinionesClientes div {
    width: 100%; }
  #opinionesClientes img {
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; }
    #opinionesClientes img:hover {
      animation: pulse;
      animation-duration: 2s; }
  #opinionesClientes p {
    padding: 10px 20px;
    font-style: italic; }
  #opinionesClientes .nombreCliente {
    font-size: 20px;
    font-weight: 600;
    text-align: center; }

#servicios {
  background-color: #e7e7e7;
  padding: 50px;
  text-align: center; }
  #servicios div {
    padding: 0 20px;
    width: 100%; }
  #servicios img {
    width: 80px; }
  #servicios h5 {
    font-size: 16px; }

.tiendaContenido img {
  width: 100%; }

.tiendaContenido div {
  width: 320px;
  text-align: center; }

.tiendaContenido a {
  color: #222;
  text-decoration: none;
  font-weight: 500; }
  .tiendaContenido a:hover {
    color: #BEA684; }

.tiendaContenido p {
  padding: 0; }

.tiendaContenido .prodTit {
  color: #222;
  font-weight: 500;
  display: block;
  font-size: 21px; }

.tiendaContenido .prodPrice {
  padding: 15px 30px;
  color: #BEA684;
  font-weight: 800; }

.tiendaContenido p {
  margin-bottom: 0; }

.tiendaContenido #paginado {
  width: 100%; }

.tiendaContenido .pagination {
  justify-content: center; }

.filtros {
  padding: 25px; }
  .filtros h6 {
    padding: 30px 0 10px 0; }
  .filtros .form-check-input:checked {
    background-color: #BEA684 !important;
    border-color: #222 !important; }

.imgHoverIcon {
  position: relative;
  width: 100%;
  max-width: 400px; }
  .imgHoverIcon:hover .overlay {
    opacity: 1; }
  .imgHoverIcon .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #BEA684; }
  .imgHoverIcon .iconImg {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .imgHoverIcon .fa-arrow-up-right-from-square:hover {
    color: #eee; }

#infoProducto {
  padding: 0 30px;
  line-height: 30px;
  margin-bottom: 50px; }
  #infoProducto input {
    margin-top: 15px;
    padding: 0 10px;
    transition: 0.3s;
    border: 1px solid #222; }
    #infoProducto input[type=text] {
      background-color: #fefefe; }
    #infoProducto input[type=submit] {
      color: #fff;
      background: linear-gradient(90deg, #222 0%, #222 50%, #BEA684 50%, #BEA684 100%);
      background-repeat: no-repeat;
      background-size: 200% 100%;
      background-position: right bottom;
      transition: background-position 0.25s ease-out; }
      #infoProducto input[type=submit]:hover {
        background-position: left bottom; }
  #infoProducto .precio {
    color: #BEA684;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px; }
  #infoProducto .categorias {
    font-size: 13px;
    font-style: italic;
    margin-bottom: 0px; }
  #infoProducto .descProducto {
    text-align: justify;
    line-height: 20px; }
  #infoProducto .fravorito {
    color: #222;
    transition: 0.3s;
    cursor: pointer;
    font-size: 20px; }
    #infoProducto .fravorito:hover {
      color: #DB4437; }

.tamaniosInfoProd {
  display: flex;
  margin-top: 0; }
  .tamaniosInfoProd #tamaniosProd {
    width: 50%; }
  .tamaniosInfoProd #infoProd {
    width: 50%; }

#quienesSomos {
  padding: 50px;
  margin-top: 0; }
  #quienesSomos img {
    margin-bottom: 30px;
    width: 100%; }
  #quienesSomos p {
    line-height: 40px;
    text-align: justify; }
  #quienesSomos .accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #222 !important; }
  #quienesSomos .accordion-button:focus {
    border-color: #444 !important;
    box-shadow: 0 0 0 0.25rem rgba(88, 88, 88, 0.25) !important; }

#contacto {
  text-align: center; }
  #contacto input {
    margin-top: 15px;
    padding: 10px;
    width: 500px; }
  #contacto .btnEnviar {
    background-color: #BEA684;
    color: #fff;
    border: #fff solid 1px; }
    #contacto .btnEnviar:hover {
      background-color: #222;
      color: #BEA684;
      border: #BEA684 solid 1px; }

footer {
  background: #fcfcfc;
  background: linear-gradient(180deg, white 50%, #ebebeb 100%);
  margin-top: 50px; }
  footer nav ul {
    padding: 5px 0px; }
    footer nav ul li {
      display: inline-block;
      margin: 0 10px; }
      footer nav ul li a {
        color: #222; }
        footer nav ul li a:hover {
          color: #222;
          text-decoration: underline; }
  footer input {
    border: none;
    padding: 3px; }
    footer input[type=text] {
      background-color: #fefefe; }
    footer input[type=submit] {
      color: #fff;
      background: linear-gradient(90deg, #222 0%, #222 50%, #BEA684 50%, #BEA684 100%);
      background-repeat: no-repeat;
      background-size: 200% 100%;
      background-position: right bottom;
      transition: background-position 0.25s ease-out; }
      footer input[type=submit]:hover {
        background-position: left bottom; }
  footer .noInline li {
    display: block;
    border: none; }
  footer .preFooter {
    padding: 10px;
    line-height: 25px; }
    footer .preFooter h5 {
      font-size: 23px; }
  footer #contactoFooter {
    width: 200px; }
  footer #servicioFooter {
    width: 400px; }
  footer #newsletterFooter {
    width: 350px; }
  footer #footerCopy {
    text-align: center;
    padding: 10px; }
  footer #footerRedes {
    padding-right: 20px; }
    footer #footerRedes a {
      color: #222;
      padding: 2px;
      text-decoration: underline;
      font-size: 32px; }

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  /*  body {
        background-color: red;
    } */
  .flexH {
    flex-direction: column;
    align-items: center; }
  #coleccionesPrincipales div div {
    height: 350px;
    width: 80%; }
  header {
    text-align: center;
    height: auto;
    padding: 10px 0 0 0; }
    header nav ul {
      float: none;
      padding: 33px 0px; }
      header nav ul li {
        margin: 10px 2px; }
  #contactoFooter {
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  #servicioFooter {
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  #newsletterFooter {
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  .itemTienda {
    width: 100%; }
  .sidecart {
    width: 100vw;
    right: -100vw; } }

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  /* body {
        background-color: yellow;
    } */
  .flexH {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
  #coleccionesPrincipales div div {
    height: 350px;
    width: 80%;
    background-size: contain;
    background-position: center; }
  header {
    text-align: center;
    height: auto;
    padding: 10px 0 0 0; }
    header nav ul {
      float: none;
      padding: 33px 0px; }
      header nav ul li {
        margin: 10px 2px; }
    header .fa-cart-shopping {
      padding: 25px; }
  #contactoFooter {
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  #servicioFooter {
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  #newsletterFooter {
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  .itemTienda {
    width: 100%; }
  #sliderHome h2 {
    font-size: 20px; }
  #artistasNacionales h3, #artistasNacionales p {
    background-color: #fff; }
  #sliderHome p {
    font-size: 15px;
    padding-top: 2px; }
  .filtros {
    display: none; } }

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  /* body {
        background-color: blue;
    } */
  .flexH {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
  #coleccionesPrincipales div div {
    height: 350px;
    width: 80%; }
  header {
    text-align: center;
    height: auto;
    padding: 10px 0 0 0; }
    header nav ul {
      float: none;
      padding: 33px 0px; }
      header nav ul li {
        margin: 10px 2px; }
  #contactoFooter {
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  #servicioFooter {
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  #newsletterFooter {
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  .itemTienda {
    width: 33%; } }

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  /*  body {
        background-color: green;
    } */
  .flexH {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
  #coleccionesPrincipales div div {
    height: 350px;
    width: 25%;
    background-size: cover;
    background-position: center; }
  #masVendidos img {
    width: 450px; } }

/* Media Query for Large screens */
@media (min-width: 1281px) {
  body {
    background-color: white; } }
