footer {
    background: rgb(252, 252, 252);
    background: linear-gradient(180deg, rgb(255, 255, 255) 50%, rgb(235, 235, 235) 100%);
    margin-top: 50px;


    nav ul {

        padding: 5px 0px;

        li {
            display: inline-block;
            margin: 0 10px;

            a {
                color: $colorBase;

                &:hover {
                    color: $colorBase;
                    text-decoration: underline;
                }
            }
        }
    }

    input {
        border: none;
        padding: 3px;

        &[type=text] {
            background-color: #fefefe;
        }

        &[type=submit] {
            color: #fff;
            @include background-transition($colorDestacado, $colorBase);
        }
    }

    .noInline li {
        display: block;
        border: none;
    }

    .preFooter {

        padding: 10px;
        line-height: 25px;

        h5 {
            font-size: 23px;
        }
    }

    #contactoFooter {
        width: 200px;

    }

    #servicioFooter {
        width: 400px;
    }

    #newsletterFooter {
        width: 350px;
    }


    #footerCopy {
        text-align: center;
        padding: 10px;
    }

    #footerRedes {
        padding-right: 20px;

        a {
            color: #222;
            padding: 2px;
            text-decoration: underline;
            font-size: 32px;
        }
    }
}