/* Grid General */
.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "slider"
        "coleccionesPrincipales"
        "artistasNacionales"
        "masVendidos"
        "opinionesClientes"
        "servicios"
        "footer";

}

.header {
    grid-area: header;
}

.slider {
    grid-area: slider;
}

.coleccionesPrincipales {
    grid-area: coleccionesPrincipales;
    text-align: center;
}

.artistasNacionales {
    grid-area: artistasNacionales;
}

.masVendidos {
    grid-area: masVendidos;
    text-align: center;
}

.opinionesClientes {
    grid-area: opinionesClientes;
}

.servicios {
    grid-area: servicios;
}

.footer {
    grid-area: footer;
}

/* Grid Tienda */
.wrapperTienda {
    display: grid;
    grid-template-columns: 0.35fr 1.65fr;
    grid-template-rows: 0.1fr 2.8fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
        "headerTienda headerTienda"
        "filtros tiendaContenido"
        "footerTienda footerTienda";
}

.headerTienda {
    grid-area: headerTienda;
}

.filtros {
    grid-area: filtros;
    text-align: center;
    padding: 25px;
}

.tiendaContenido {
    grid-area: tiendaContenido;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footerTienda {
    grid-area: footerTienda;
}