#infoProducto {
    padding: 0 30px;
    line-height: 40px;

    input {
        margin-top: 15px;
        padding: 10px;
        transition: 0.3s;

        &:hover {
            background-color: $colorDestacado;
            color: #FFF;
        }
    }


    .precio {
        color: $colorDestacado;
    }

    .categorias {
        font-size: 13px;
        font-style: italic;
    }

    .descProducto {
        text-align: justify;
        line-height: 20px;
    }

    .fravorito {
        color: $colorBase;
        transition: 0.3s;
        cursor: pointer;
        font-size: 20px;

        &:hover {
            color: #DB4437;
        }
    }
}