#infoProducto {
    padding: 0 30px;
    line-height: 40px;
    input {
        margin-top: 15px;
        padding: 10px;
    }
    .precio {
        color: $colorDestacado;
    }
    .categorias {
        font-size: 13px;
        font-style: italic;
    }
    
    .descProducto {
        text-align: justify;
        line-height: 20px;
    }
}