#infoProducto {
    padding: 0 30px;
    line-height: 30px;
    margin-bottom: 50px;

    input {
        margin-top: 15px;
        padding: 0 10px;
        transition: 0.3s;
        border: 1px solid $colorBase;
        &[type=text] {
            background-color: #fefefe;
        }

        &[type=submit] {
            color: #fff;
            @include background-transition($colorDestacado, $colorBase);
        }

       
    }


    .precio {
        color: $colorDestacado;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .categorias {
        font-size: 13px;
        font-style: italic;
        margin-bottom: 0px;
    }

    .descProducto {
        text-align: justify;
        line-height: 20px;
    }

    .fravorito {
        color: $colorBase;
        transition: 0.3s;
        cursor: pointer;
        font-size: 20px;

        &:hover {
            color: #DB4437;
        }
    }
}

.tamaniosInfoProd {
    display: flex;
    margin-top: 0;

    #tamaniosProd {
        width: 50%;
    }

    #infoProd {
        width: 50%;
    }
}